<div class="container">
  <% if @favored.present?%>
    <% @favored.each do |partner| %>
      <%= render partial: 'user', locals: {partner: partner, button: "reply"} %>
    <% end %>
    <%= paginate @favored %>
  <% else%>
    <p>いいねをされるとここに表示されます</p>
  <% end %>
</div>